html, body{
    overflow: hidden;
    font-size: 14px;
}

#calendar-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.fc-header-toolbar{
    /* an em is a relative unit of measurement that is based on the current font size. */
    padding-top: 1em; 
    padding-left: 1em;
    padding-right: 1em;
}