body h1{
    text-align: center;
}

html, body{
    overflow: hidden;
    font-size: 14px;
}

#calendar-container{
    position: relative;
    width: 50%;
    height: 800px; /* I don't want to keep this static to account for different window sizes */
    margin-top: 20px;
}

.fc-header-toolbar{
    /* an em is a relative unit of measurement that is based on the current font size. */
    padding-top: 1em; 
    padding-left: 1em;
    padding-right: 1em;
}
